<header id="header">
    <a id="title" href="<%= url_for() %>" class="logo"><%- config.title %></a>

	<ul id="menu">
		<li class="menu-item">
			<a href="/about" class="menu-item-link">关于我</a>
		</li>

		<li class="menu-item">
			<a href="/summary" class="menu-item-link">文章汇总</a>
		</li>
		
		<li class="menu-item">
			<a href="https://tech.meituan.com/" class="menu-item-link" target="_blank">
				美团技术团队
			</a>
		</li>
		<li class="menu-item">
			<a href="https://tech.youzan.com/" class="menu-item-link" target="_blank">
				有赞技术团队
			</a>
		</li>
		<li class="menu-item">
			<a href="https://stackoverflow.com/" class="menu-item-link" target="_blank">
				StackOverFlow
			</a>
		</li>
	</ul>
</header>
